#!/usr/bin/env sh
if [ -f $HOME/.cargo/bin ] ; then
	export PATH="$HOME/.cargo/bin:$PATH"
fi
if [ -f $HOME/.linuxbrew/bin/brew ] ; then
	export PATH="$HOME/.linuxbrew/bin:$PATH"
fi

if [ -f $HOME/usr/local/bin ] ; then
	export PATH="$HOME/usr/local/bin:$PATH"
fi
# Setting fd as the default source for fzf
export FZF_DEFAULT_COMMAND='fd --type f'

# To apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export TERMINAL_DARK=1
[[ $TMUX = "" ]] && export TERM="xterm-kitty"
[[ $TMUX != "" ]] && export TERM="screen-256color"
export _Z_DATA="$HOME/.z-data"

# ## Multiple java verstions
if [ -f /usr/libexec/java_home ]; then
	export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
	export JAVA_11_HOME=$(/usr/libexec/java_home -v11)
	export JAVA_13_HOME=$(/usr/libexec/java_home -v13)
	export JAVA_15_HOME=$(/usr/libexec/java_home -v15)
	export JAVA_16_HOME=$(/usr/libexec/java_home -v16)

	alias java8='export JAVA_HOME=$JAVA_8_HOME'
alias java11='export JAVA_HOME=$JAVA_11_HOME'
	alias java13='export JAVA_HOME=$JAVA_13_HOME'
	alias java15='export JAVA_HOME=$JAVA_15_HOME'
	alias java16='export JAVA_HOME=$JAVA_16_HOME'

	# default to Java 11
	java16
fi

if command -v jenv >/dev/null; then
	export PATH="$HOME/.jenv/bin:$PATH"
	eval "$(jenv init -)"
fi


export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

# add current path
export PATH=".:$PATH"
